<br>
<form action="/<%= params[:filename] %>/edit" method="post">
  <label for="content">Edit content of <%= params[:filename] %>:</label>
  <div>
    <textarea name="edited_text"><%= @content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>