<!doctype html>
<html lang="en-US">
  <head>
    <title>File-based CMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>

  <body>
    <div class="header">
      <a href="/">Home</a>
      | 
      <% if session[:user] %>
        Logged in as <%= session[:user] %>
        <form action="/users/logout" method="post" class="inline">
          <button type="submit">Sign out</button>
        </form>
      <% else %>
        <a href="/users/login">Login</a>
      <% end %>
    </div>

    <% if session[:message] %>
      <div class="message">
        <p><%= session.delete(:message) %></p>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>