<!doctype html>
<html lang="en-US">
  <head>
    <title>File-based CMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>

  <body>
    <% if session[:message] %>
      <div class="message">
        <p><%= session.delete(:message) %></p>
      </div>
    <% end %>

    <br>
    <a href="/">Home</a>
    <br>

    <%= yield %>

  </body>
</html>