<!doctype html>
<html lang="en-US">
  <head>
    <title>File-based CMS</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <% if session[:message] %>
      <p><%= session.delete(:message) %></p>
    <% end %>

    <a href="/">Home</a>
    <br>
    <br>

    <%= yield %>

  </body>
</html>